.sidebarWrapper{
    display: none;
}

@media (max-width:765px){
    .sidebarWrapper{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Hidden by default */
        position: fixed;
        z-index: 4; /* Sit on top */
        left: 0;
        top: 72px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
        transition: opacity 0.3s ease-in-out;
    }
    .sidebar{
        height: 100%;
        gap: 1em;
        background-color: #F2F4FF;
        position: absolute;
        top:0;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 1.5rem;
        right: 0;
    }
}